In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
data = pd.read_csv('SampleData.csv')
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [4]:
import math
median_bedrooms = math.floor(data.bedrooms.median())
median_bedrooms

4

In [7]:
data.bedrooms = data.bedrooms.fillna(median_bedrooms)
data.bedrooms

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [12]:
reg = linear_model.LinearRegression()
x = data[['area','bedrooms','age']]
y = data.price
reg.fit(x,y)

LinearRegression()

In [13]:
reg.predict([[3000,3,40]])

array([498408.25158031])

In [14]:
reg.score(x,y)

0.9550196399325819